<div class="sign-in-bg">
  <div class="container-fluid">
    <div class="inner-container">
      <div class="sign-in-logo">
        <%= image_tag 'logo@2x.png' %>
      </div>
      <div class="login-form">
          <%= link_to sign_in_facebook_path do %>
            <div class="login-form-button facebook">
              Sign up with Facebook
            </div>
          <% end %>
          Or with email

          <%= link_to new_user_path do %>
            <div class="login-form-button submit">
              Sign Up
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
