<div class="form-header blue">
  <a class="button-back">
    <%= fa_icon 'chevron-left', style: 'color: white' %>
  </a>
  <p class="form-heading-reverse">My Reports</p>
</div>
<div class ='report-heading'>
  <p>Lost Pets</p>
</div>
<div class ='row report nopadding'>
  <div class ='col-xs nopadding'>
   <!-- <img data-id={{id}} scr={{photo}}> -->
   <img src="/dog.jpg";/>
  </div>
  <div class ='col-xs report-details'>
    <p><span class="blue-text">Name:</span> {{name}}</p>
    <p><span class="blue-text">Last seen location:</span> {{last_seen_address}} </p>
  </div>
</div>

<div class ='report-heading'>
  <p>Found Pets</p>
</div>
<div class ='row report nopadding'>
  <div class ='col-xs nopadding'>
   <!-- <img data-id={{id}} scr={{photo}}> -->
   <img src="/dog.jpg";/>
  </div>
  <div class ='col-xs report-details'>
    <p><span class="blue-text">Name:</span> {{name}}</p>
    <p><span class="blue-text">Last seen location:</span> {{last_seen_address}} </p>
  </div>
</div>
