
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXclu8PhDGVun2bDikmbNE5YUUNRFG204&libraries=places&callback=initMap"
 type="text/javascript"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>

<div class = 'container-fluid'>
 <div class="row">
   <!-- ðŸ‘‡ START OF SIDEBAR -->

  <div class ='sidebar nopadding col-xs-12 col-md-4'>
    <% if user_signed_in? %>
      <section class='side-section side-user'>
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar %>
        <% end %>
        <%= current_user.full_name %>
      </section>
    <% end %>
    <p class="side-heading">Make a Report</p>
    <section id="button-newLost" class="side-section side-lost-report">
      <p class="side-links">Lost Pet</p>
    </section>
    <section id="button-newFound" class="side-section side-lost-report">
      <p class="side-links">Found Pet</p>
    </section>
    <!-- <section id="menu-main">
      <div id='userInfoData'>
      </div>

      <div>
      <label class='seperate'>MAKE A REPORT</label>
      </div>
      <div>
        <a id="button-newLost" href="#" class="btn btn-primary btn-block btn-lg">Lost Pet</a>
        <a id="button-newFound" href="#" class="btn btn-primary btn-block btn-lg">Found/Sighted Pet</a>
      </div>
      <div>
      <label class='seperate'>Account</label>
      </div>
      <div>
        <a id="button-listReport" href="#" class="btn btn-primary btn-block btn-lg">My Report</a>
        <a id="button-listMessage" href="#" class="btn btn-primary btn-block btn-lg">Messages</a>
        <a id="button-setting" href="#" class="btn btn-primary btn-block btn-lg">Settings</a>
        <a id="button-about" href="#" class="btn btn-primary btn-block btn-lg">About find my pet</a>
      </div>
    </section>
    <section id='listFilterdReport'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY Messages
      </div>
      <ul id='list-filterd'>
      </ul>
    </section>
    <section id='listReport'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      <label class='seperate'>LOST REPORT</label>
      <ul id='list-lost'>
      </ul>
      <label class='seperate'>FOUND REPORT</label>
      <ul id='list-found'>
      </ul>
    </section>
    <section id='listMessage'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY Messages
      </div>
      <label class='seperate'>Lost Pet</label>
      <ul id='list-message'>
      </ul>
    </section>
    <section id='setting'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> Setting
      </div>
      <a id="button-location" href="#" class="btn btn-primary btn-block btn-lg">Location</a>
      <a id="button-notification" href="#" class="btn btn-primary btn-block btn-lg">Notification</a>
      <a id="button-signout" href="#" class="btn btn-primary btn-block btn-lg">Sign Out</a>
    </section>
    <section id='about'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      ABOUT
    </section>

    <section id='newReportFound'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      <div class = 'ReportLostForm'>
        NEW REPORT
      </div>
      <a id="button-sumbitNewReportFound" href="#" class="btn btn-primary btn-block btn-lg">Preivew</a>
    </section>

    <section id='previewReportFound'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      <div id='previewReportFoundData'>

      </div>
      <a id="button-sumbitPreviewReportFound" href="#" class="btn btn-primary btn-block btn-lg">Comfirm</a>
    </section>

    <section id='completeReportFound'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      compelte
      <a id="button-sumbitCompleteReportFound" href="#" class="btn btn-primary btn-block btn-lg">Confirm</a>
    </section>
    <section id='showReportFound'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      <div id='showReportFoundData'>
      </div>
      <a id="button-reportAnotherFound" href="#" class="btn btn-primary btn-block btn-lg">Report</a>
      <a id="button-trackPet" href="#" class="btn btn-primary btn-block btn-lg">Track Pet</a>
      <a id="button-MessageFound" href="#" class="btn btn-primary btn-block btn-lg">Message</a>
    </section>
    <section id='editReportFound'>
    </section>

    <section id='newReportLost'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      <div class = 'ReportLostForm'>
        NEW REPORT
      </div>
      <a id="button-sumbitNewReportLost" href="#" class="btn btn-primary btn-block btn-lg">Preivew</a>
    </section>

    <section id='previewReportLost'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      <div id='previewReportLostData'>
      </div>
      <a id="button-sumbitPreviewReportLost" href="#" class="btn btn-primary btn-block btn-lg">Confirm</a>
    </section>
    <section id='completeReportLost'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      complete
      <a id="button-sumbitCompleteReportLost" href="#" class="btn btn-primary btn-block btn-lg">Confirm</a>
    </section>
    <section id='showReportLost'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      <div id='showReportLostData'>
      </div>
      <a id="button-MessageLost" href="#" class="btn btn-primary btn-block btn-lg">Message</a>
    </section>
    <section id='editReportLost'>
    </section>

    <section id='showMessage'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      show Message
      <div class='messageData'>
      </div>
    </section>

    <section class='footnote'>
      <p>FindMyPet V1.0</p>
<<<<<<< HEAD
<<<<<<< 428327ff6ecac56e133e79c73c2989697259e99d
    </section>
    <!-- template list:
      newmessage
      editReportFound
    -->

    <script id="showMessage" type="x-tmpl-mustache">
      <img src={{photo1}}>
      <p>{{body}}</p>
    </script>
    <script id="report-summary" type="x-tmpl-mustache">
      <li data-id={{id}}>
        <p>{{note}}</p>
        <hr>
      </li>
    </script>
    <script id="message-summary" type="x-tmpl-mustache">
      <li data-id={{id}}>
        <img src={{photo1}}>
        <p>{{body}}</p>
        <hr>
      </li>
    </script>

    <script id="reportShow" type="x-tmpl-mustache">
      <img data-id={{id}} scr={{photo}}>
      <p>Pet Type: {{pet_type}}</p>
      <p>Breed : {{breed}}</p>
      <p>Name : {{name}}</p>
      <p>Sex : {{sex}} </p>
      <p>Coulour : {{color}} </p>
      <p>Age : {{age}} </p>
      <p>Last Seen : {{last_seen_address}} </p>
      <p>Note : {{note}} </p>
    </script>

    <script id="user-info" type="x-tmpl-mustache">
      <div>
        <img src = {{avator}}>
        <p>Hello: {{first_name}}
      </div>
    </script>
  </div>

  <!-- END OF SIDEBAR â˜ï¸ -->

  <!-- ðŸ‘¨ MUSTACHE TEMPLATES -->

  <script id="showMessage" type="x-tmpl-mustache">
    <img src={{photo1}}>
    <p>{{body}}</p>
  </script>
  <script id="report-summary" type="x-tmpl-mustache">
    <li data-id={{id}}>
      <p>{{note}}</p>
      <hr>
    </li>
  </script>
  <script id="message-summary" type="x-tmpl-mustache">
    <li data-id={{id}}>
      <img src={{photo1}}>
      <p>{{body}}</p>
      <hr>
    </li>
  </script>

  <script id="reportShow" type="x-tmpl-mustache">
    <img data-id={{id}} scr={{photo}}>
    <p>Pet Type: {{pet_type}}</p>
    <p>Breed : {{breed}}</p>
    <p>Name : {{name}}</p>
    <p>Sex : {{sex}} </p>
    <p>Coulour : {{color}} </p>
    <p>Age : {{age}} </p>
    <p>Last Seen : {{last_seen_address}} </p>
    <p>Note : {{note}} </p>
  </script>

  <script id="user-info" type="x-tmpl-mustache">
    <div>
      <img src = {{avator}}>
      <p>Hello: {{first_name}}
    </div>
  </script>

<!-- ðŸ‘¨ END OF MUSTACHE TEMPLATES -->

<!-- ðŸ—º MAP VIEW -->
  <div class='map-view nopadding col-xs-12 col-md-8'>
    <div id="map-container">

      <form id="search-container">
        <div class="form-group">
          <input id="pac-input" type="text" placeholder="Search Box">
        </div>

        <div class="form-group">
          <label class="form-check-label" id="lost-checkbox">
          <input class="form-check-input" type="checkbox" name="Lost Pet" value="lost">Lost Pet</label>
          <label class="form-check-label" id="found-checkbox">
          <input class="form-check-input" type="checkbox" name="Found Pet" value="sighted">Found Pet</label>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div id="map-canvas"></div>
    </div>
  </div>

  <!-- END OF MAP VIEW -->
 </div>
</div>

<script>
var markers = [];
var map;


function initSearch() {
  // var map = new google.maps.Map(document.getElementById('map'), {
  //   center: {lat: -33.8688, lng: 151.2195},
  //   zoom: 13,
  //   mapTypeId: 'roadmap'
  // });
  // Create the search box and link it to the UI element.
 var input = document.getElementById('pac-input');
 var formInput = document.getElementById('pac-report-input');
 var searchContainer = document.getElementById('search-container');
 var searchBox = new google.maps.places.SearchBox(input);
 if(formInput){
   var formSearchBox = new google.maps.places.SearchBox(formInput);
 }

 map.controls[google.maps.ControlPosition.TOP_RIGHT].push(searchContainer);
 // Bias the SearchBox results towards current map's viewport.
 map.addListener('bounds_changed', function() {
   searchBox.setBounds(map.getBounds());
 });

 // Listen for the event fired when the user selects a prediction and retrieve
       // more details for that place.
 searchBox.addListener('places_changed', function() {
   var places = searchBox.getPlaces();

   if (places.length == 0) {
     return;
   }

  //  // Clear out the old markers.
  //  markers.forEach(function(marker) {
  //    marker.setMap(null);
  //  });
  //  markers = [];

   // For each place, get the icon, name and location.
   var bounds = new google.maps.LatLngBounds();
   places.forEach(function(place) {
     if (!place.geometry) {
       console.log("Returned place contains no geometry");
       return;
     }
    //  var icon = {
    //    url: place.icon,
    //    size: new google.maps.Size(71, 71),
    //    origin: new google.maps.Point(0, 0),
    //    anchor: new google.maps.Point(17, 34),
    //    scaledSize: new google.maps.Size(25, 25)
    //  };
     //
    //  // Create a marker for each place.
    //  markers.push(new google.maps.Marker({
    //    map: map,
    //    icon: '',
    //    title: place.name,
    //    position: place.geometry.location
    //  }));

     if (place.geometry.viewport) {
       // Only geocodes have viewport.
       bounds.union(place.geometry.viewport);
     } else {
       bounds.extend(place.geometry.location);
     }
   });
   map.fitBounds(bounds);
 });


}





//create map
function initMap(){
  var latitude = 49.2827291;
  var longitude = -123.12073750000002;


  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        mapTypeControl: false,
        streetViewControl: false,
        zoom: 14,
        center: {lat: latitude, lng: longitude},

      },
      internal: {id: 'map-canvas'}}, function(){

    markers = handler.addMarkers(<%=raw @markers.to_json %>);

    if(markers.length != 0){
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
     }
    map = handler.map.serviceObject.data.map

    initSearch();
    var geoloccontrol = new klokantech.GeolocationControl(map, 18);
    // if(navigator.geolocation)
    //   navigator.geolocation.getCurrentPosition(displayOnMap);
  });
}
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

function showMarkers() {
  setMapOnAll(map);
}

function clearMarkers() {
    setMapOnAll(null);
}

// in listener
//

</script>
